<div class="appointment">
    <div class="container-form">
        <div class="text">
            <h2>APPOINTMENT</h2>
            <span>Pleace complete the form below to submit an online appointment request</span>
        </div>
        <div class="input-group">
            <form>
                <div class="input-left">
                    <input type="text" placeholder="Name*" value="" required>
                    <input type="email" placeholder="Email*" value="" required>
                    <input type="number" placeholder="Phone*" value="" required>
                </div>
                <div class="input-right">
                    <textarea placeholder="Message"></textarea>
                </div>

                <div class="submit">
                    <input type="submit" class="submit-button" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>