<div class="preFooter">

    <div class="wrapper">

        <div class="recent-post" style="display:inline-block;  vertical-align:top; margin-right: 2em">
            <h2>RECENT POSTS</h2>

            <div style="display:inline-block">
                <div class="post-container" style="clear:left;overflow:auto; margin-bottom: 1em; ">
                    <img src="images/post/1.png" width="70" height="70" style="float:left;margin-right:1em">
                    <p>Nivua sado loid sisa sbla tasdk aoasd asdiqwe</p>
                </div>

                <div class="post-container" style="clear:left;overflow:auto; margin-bottom: 1em; ">
                    <img src="images/post/2.png" width="70" height="70" style="float:left;margin-right:1em">
                    <p>Nivua sado loid sisa sbla tasdk aoasd asdiqwe</p>
                </div>
                <div class="post-container" style="clear:left;overflow:auto; margin-bottom: 1em; ">
                    <img src="images/post/3.png" width="70" height="70" style="float:left;margin-right:1em">
                    <p>Nivua sado loid sisa sbla tasdk aoasd asdiqwe</p>
                </div>
            </div>
        </div>


        <div class="services-container" style="display:inline-block;   margin-right: 8em;  vertical-align:top;  ">

            <ul>
                <h2>SERVICES</h2>
                <li>Cleanings</li>
                <li>Extractions</li>
                <li>School Exams</li>
                <li>Sports Safety</li>
                <li>Early Orthodontics</li>
                <li>Digital X-Rays</li>
                <li>Teeth Whitening</li>
                <li>Cavity Evaluations</li>
                <li>Emergency Care</li>
            </ul>
        </div>

        <div class="business-container" style="display:inline-block;  vertical-align:top;">
            <h2>KEEP IN TOUCH</h2>
            <input type="email" placeholder="Enter email to subscrible" value="">
            <br>
            <h2>BUSINESS HOURS</h2>
            <table>
                <tr>
                    <th>Sunday:</th>
                    <th>Closed</th>
                </tr>
                <tr>
                    <th>Monday:</th>
                    <th>8:00am-5:30pm</th>
                </tr>
                <tr>
                    <th>Tuedeay:</th>
                    <th>8:00am-5:30pm</th>
                </tr>
                <tr>
                    <th>Wednesday:</th>
                    <th>8:00am-5:30pm</th>
                </tr>
                <tr>
                    <th>Thursday:</th>
                    <th>8:00am-5:30pm</th>
                </tr>
                <tr>
                    <th>Friday:</th>
                    <th>8:00am-5:30pm</th>
                </tr>
                <tr>
                    <th>Saturday:</th>
                    <th>9:00am-Noon</th>
                </tr>
            </table>

        </div>


    </div>
    <div class="social-icon" style="clear: both">
        <li><a href="/"><i class="fa fa-google google" aria-hidden="true"></i></a></li>
        <li><a href="/"><i class="fa fa-facebook facebook" aria-hidden="true"></i></a></li>
        <li><a href="/"><i class="fa fa-twitter twitter" aria-hidden="true"></i></a></li>
        <li><a href="/"><i class="fa fa-linkedin linkedin" aria-hidden="true"></i></a></li>
    </div>


</div>