<div class="navFooter wrapper">
    <ul>
        <div class="nav-left">
            <li><a href="/">HOME</a></li>
            <li><a href="/">MEET THE TEAM</a></li>
            <li><a href="/">SERVICES </a></li>
            <li><a href="/">APPOINTMENT FORMS </a></li>
            <li><a href="/">FAQ</a></li>
            <li><a href="/">CONTACT US</a></li>
        </div>
        <div class="nav-right">
            <li>
                <p> <b>© 2016 Edental all rights reserved  </b></p>
            </li>
        </div>
    </ul>
</div>