<div class="wrapper topNav">
    <ul>
        <div class="nav-left">
            <li><a href="/"><i class="fa fa-mobile" aria-hidden="true"></i>   78 135 531 169</a></li>
            <li><a href="/"><i class="fa fa-envelope-o" aria-hidden="true"></i> help@edental.com</a></li>
        </div>

        <div class="nav-right">
            <li><a href="/"><i class="fa fa-map-marker" aria-hidden="true"></i> 3766 Alton Pkwy, Irvine CA 9</a></li>
            <li><a href="/"> Connect which us</a></li>
            <li><a href="/"><i class="fa fa-google" aria-hidden="true"></i></a></li>
            <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </div>
    </ul>
</div>