<div class="border">
    <div class="wrapper nav">
        <ul>
            <div class="nav-left">
                <li>
                    <a href="/"><img src="images/logo.png" alt=""></a>
                </li>
                <li style="margin-top:.75em;">
                    <a href="/"><img src="images/world.png" alt="" style="margin-bottom:-.5em;"> <span>Language <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                </li>
            </div>

            <div class="nav-right " style="margin-top:1em;">
                <li><a href="/">HOME</a></li>
                <li><a href="/">MEET THE TEAM</a></li>
                <li><a href="/">SERVICES <i class="fa fa-angle-down" aria-hidden="true"></i> </a></li>
                <li><a href="/">APPOINTMENT FORMS <i class="fa fa-angle-down" aria-hidden="true"></i></a></li>
                <li><a href="/">FAQ</a></li>
                <li><a href="/">CONTACT US</a></li>
                <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></li>
            </div>
        </ul>

    </div>
</div>