<div class="sliderWellcome">
    <section>
        <div class="child">
            <div class="container">
                <img src="images/wellcome/1.png" style="background:lightskyblue" alt="image" class="">
                <div class="overlay ">
                    <div class="text">
                        <p class="title-overlay">Loreal corsil brense</p>
                        <span>loreal corsil brense</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="child">
            <div class="container">
                <img src="images/wellcome/2.png" alt="image" class="">
                <div class="overlay active">
                    <div class="text">
                        <p class="title-overlay">Active by class "active"</p>
                        <span>loreal corsil brense </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="child">
            <div class="container">
                <img src="images/wellcome/3.png" style="background: plum;" alt="image" class="">
                <div class="overlay">
                    <div class="text">
                        <p class="title-overlay">Loreal corsil brense</p>
                        <span>loreal corsil brense</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="child">
            <div class="container">
                <img src="images/wellcome/4.png" style="background:rgba(180, 247, 26, 0.788);" alt="image" class="">
                <div class="overlay">
                    <div class="text">
                        <p class="title-overlay">Loreal corsil brense</p>
                        <span>loreal corsil brense</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="child">
            <div class="container">
                <img src="images/wellcome/5.png" style="background:lightblue" alt="image" class="">
                <div class="overlay">
                    <div class="text">
                        <p class="title-overlay">Loreal corsil brense</p>
                        <span>loreal corsil brense</span>
                    </div>
                </div>
            </div>
        </div>

    </section>


</div>