<div class="about">
    <div>
        <div class="about-intro center">


            <h1 class="intro-title"> <b style="font-family: 'Grand Hotel'"> <span style="font-size:1.55em"> 15 </span> Years </b> Of Making feel good be happy</h1>
            <div>
                <img src="images/tooth.png" alt="">
            </div>
            <h2 class="intro-subtitle">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos.</h2>


        </div>


        <div class="wrapper">

            <div class="about-card">
                <img src="images/about.png" height="240" width="220" alt="">
                <div class="card">
                    <h2>About us</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui </p>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui </p>
                    <button class="readmore-button">READ MORE</button>
                </div>
            </div>


            <div style=" display:inline-block; overflow:hidden; background:white;  height:244px;width:360px">
                <div class="tabs">
                    <div class="container">
                        <div class="col">
                            <p>KID DENTIST</p>
                        </div>
                        <div class="col active">
                            <p>ORAL SURGERY</p>
                        </div>
                        <div class="col">
                            <p>ORTHODONTICS</p>
                        </div>
                    </div>
                    <div class="content" style="padding:0 1em;">
                        <h3> Oral and maxillofacial surgery </h3>
                        <p>
                            Oral surgery deals with the treatment and ongoing management of irregularities and pathology of the jaw and mouth that require surgical intervention.Surgically removing teeth is the most common procedure <br> <br> that oral
                            surgeons perform, but oral surgery as a specialty has a broad scope. This includes managing hard and soft tissue pathology.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>