<div class="quote">
    <div class="quote-icon">
        <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="quote-text">
        "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
    </div>
    <div class="quote-author">
        <p>State david</p>
        <p>United States</p>
    </div>

    <div class="quote-btn">
        <i class="fa fa-chevron-left btn-deactive" aria-hidden="true"></i>
        <i class="fa fa-chevron-right btn-active" aria-hidden="true"></i>
    </div>

</div>