@import "var";
.navFooter {
    /*     @extend .debug; */
    min-height: $navFooter-height;
    color: $nav-footer-color;
    font-weight: 500;
    ul {
        list-style-type: none;
        margin-top: 1em;
        .nav-right {
            float: right;
            li {
                p {
                    font-size: 11px;
                    margin-right: 2em;
                    font-weight: 500;
                    margin-top: 0.35em;
                }
            }
        }
        li {
            float: left;
            margin: 1em 0.7em;
            a {
                font-size: 20px;
                color: $nav-footer-color;
                font-family: "Oswald", Helvetica, sans-serif;
            }
        }
        li:first-child {
            margin: 1em 0.7em 1em 0;
        }
    }
}