@import "var";
.nav {
    min-height: $nav-height - 10;
    clear: both;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0px 0;
        overflow: hidden;
        .nav-right {
            float: right;
        }
        .nav-right li {
            margin-right: 1em;
        }
        .nav-right li:last-child {
            margin: 0em !important;
        }
        .nav-left {
            float: left;
            li {
                a {
                    span {
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 400;
                    }
                    span,
                    i {
                        color: $gray;
                        font-size: 11px;
                    }
                }
                i {
                    margin-left: 5px;
                    font-size: 18px;
                    margin-right: 0.2em;
                }
            }
        }
        .nav-left li:last-child {
            margin-left: 1em;
        }
    }
    li {
        float: left;
    }
    li a {
        color: $dark;
        display: block;
        font-size: 16.5px;
        font-weight: 500;
        font-family: "Oswald", Helvetica, sans-serif;
    }
}

.border {
    /*     border: 1px solid rgba(128, 128, 128, 0.575);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px; */
    box-shadow: 0 4px 3px -3px #e6e6e6c9;
}