$base-width: 4000px;
$topNav-height: 50px;
$nav-height: 70px;
$wellcome-height: 550px;
$sliderWellcome-height: 240px;
$contact-height: 150px;
$about-height: 500px;
$whatWeDo-height: 150px;
$sliderWhatWeDo-height: 600px;
$quote-height: 220px;
$appointment-height: 500px;
$partner-height: 150px;
$footer-height: 400px;
$navFooter-height: 120px;
.debug {
    border: 1px solid plum;
}


/* Color */

$blue: #009dc1;
$gray: #bbbbbb;
$gray-bold: #aeb1b8;
$dark: #5d5d5d;
$bg-gray: #eaf0f1;
$nav-footer-color: #98bdc3;
$orange: #ffa200;
$input-bg-dark: #afafaf;